@font-face { 
    font-family: 'Titillium Web';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face { 
    font-family: 'Titillium Web';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
    font-weight: 600; 
    font-style: normal;
}

$font-stack: 'Titillium Web', sans-serif;
$root-font-size: 16px;