$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$tablet-column1: 25vw;
$tablet-column2: 25vw;
$tablet-column3: 16vw;
$tablet-column4: 16vw;
$tablet-column5: 14vw;

$tablet-fifth-column1: 23vw;
$tablet-fifth-column2: 15vw;
$tablet-fifth-column3: 17vw;
$tablet-fifth-column4: 11vw;
$tablet-fifth-column5: 12vw;
$tablet-fifth-column6: 14vw;

$desktop-column1: 304px;
$desktop-column2: 304px;
$desktop-column3: 243px;
$desktop-column4: 243px;
$desktop-column5: 122px;

$desktop-fifth-column1: 204px;
$desktop-fifth-column2: 254px;
$desktop-fifth-column3: 233px;
$desktop-fifth-column4: 120px;
$desktop-fifth-column5: 255px;
$desktop-fifth-column6: 150px;
