@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  background-color: $light-gray;
  position: relative; 

  &__header {
    font-size: 0.6875rem;
    color: $slate;
    line-height: 16px;
    position: absolute;
    top: 2rem;
    padding-bottom: 2rem;

    @include tablet {
      font-size: 0.75rem;
      line-height: 18px;
      align-items: flex-end;
    }
  }
}
